<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bouncingBalls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92E3BCD91E5F17BB006BC62B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92E3BCF21E5F17BC006BC62B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92E3BCFD1E5F17BC006BC62B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
